body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange_colour {
    color: rgb(164, 137, 86);
}

.flexible_container {
    display: flex;
    margin-bottom: 100px;
}

.half_width {
    width: 50%;
    padding-left: 3%;
}

.half_width img {
    width: 80%;
}

.link_button {
    text-decoration: none;
    background-image: linear-gradient(rgb(173, 129, 125), rgb(164, 137, 86));
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top_banner {
    background-image: url(pic/top-banner.png);
    background-repeat: no-repeat;
}

.dream_big {
    background-image: url(pic/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.padding_left {
    padding-left: 30px;
}

.padding_right {
    padding-right: 30px;
}

.experiences_area {
    background-image: url(pic/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.exprience_item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    border-radius: 10px !important;
    box-shadow: 10px 10px 40px gray;
}

#frontent_web_development {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-radius: 50px;
}

#fullstack_web_development {
    border-left: 7px solid;
    border-image: linear-gradient(red, orange);
    border-image-slice: 1;
}